<div id="home" class="header">
    <div class="container">
        <!-- top-hedader -->
        <div class="top-header">
            <!-- /logo -->
            <!--top-nav---->
            <div class="top-nav">
                <div class="navigation">
                    <div class="logo">
                        <h1><a href="index.html"><span>P</span>REFACE</a></h1>
                    </div>
                    <div class="navigation-right">
                        <span class="menu"><img src="../assets/images/menu.png" alt=" " /></span>
                        <nav class="link-effect-3" id="link-effect-3">
                            <ul class="nav1 nav nav-wil">
                                <li class="active"><a data-hover="Home" href="index.html">Home</a></li>
                                <li><a class="scroll" data-hover="About" href="#about">About</a></li>
                                <li><a class="scroll" data-hover="Services" href="#services">Services</a></li>
                                <li><a class="scroll" data-hover="Experience" href="#work">Experience</a></li>
                                <li><a class="scroll" data-hover="Portfolio" href="#port">Portfolio</a></li>
                                <li><a class="scroll" data-hover="Blog" href="#blogs">Blog</a></li>
                                <li><a class="scroll" data-hover="Contact" href="#contact">Contact</a></li>
                            </ul>
                        </nav>
                        <!-- script-for-menu -->
                      <!-- script in ts file -->
                        <!-- /script-for-menu -->
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!-- /top-hedader -->
            </div>
            <div class="banner-info">
                <div class="col-md-7 header-right">
                    <h1>Hi !</h1>
                    <h6>UX & UI DESIGNER</h6>
                    <ul class="address">

                        <li>
                            <ul class="address-text">
                                <li><b>NAME</b></li>
                                <li>I'M ROB LEE</li>
                            </ul>
                        </li>
                        <li>
                            <ul class="address-text">
                                <li><b>D.O.B</b></li>
                                <li>23-06-1980</li>
                            </ul>
                        </li>
                        <li>
                            <ul class="address-text">
                                <li><b>PHONE </b></li>
                                <li>+00 111 222 3333</li>
                            </ul>
                        </li>
                        <li>
                            <ul class="address-text">
                                <li><b>ADDRESS </b></li>
                                <li>756 Global Place,New York.</li>
                            </ul>
                        </li>
                        <li>
                            <ul class="address-text">
                                <li><b>E-MAIL </b></li>
                                <li><a href="mailto:example@mail.com"> mail@example.com</a></li>
                            </ul>
                        </li>
                        <li>
                            <ul class="address-text">
                                <li><b>WEBSITE </b></li>
                                <li><a href="http://w3layouts.com">www.myresume.com</a></li>
                            </ul>
                        </li>

                    </ul>
                </div>
                <div class="col-md-5 header-left">
                    <img src="../assets/images/img1.jpg" alt="">
                </div>
                <div class="clearfix"> </div>

            </div>
        </div>
    </div>
</div>
