<!--The content below is only a placeholder and can be replaced.-->
<!-- container -->

<!-- header -->
<app-header></app-header>
<!-- about -->
<app-about></app-about>
<!-- /about -->
<!-- services -->
<app-services></app-services>
<!-- services -->
<!--work-experience-->
<app-work></app-work>
<!--//work-experience-->

<!-- portfolio -->
<app-portfolio></app-portfolio> 
<!-- //portfolio -->
<!-- top-grids -->
<app-blogpost></app-blogpost>
<!-- //blog-pop-->

<!-- /header -->

<!-- footer -->
<app-contactme></app-contactme>
<!-- //footer -->
<!-- /container -->

<a href="#home" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!-- start-smooth-scrolling
<script type="text/javascript">
  
</script> -->
<!--end-smooth-scrolling-->
<!-- //for bootstrap working -->


<router-outlet></router-outlet>
